.context-menu {
    --ngx-contextmenu-focusable-border-bottom: 1px dotted #756e87;

    --ngx-contextmenu-font-family: sans-serif;
    --ngx-contextmenu-background-color: white;
    --ngx-contextmenu-border-radius: 0px;
    --ngx-contextmenu-border: 1px solid rgba(0, 0, 0, 0.18);
    --ngx-contextmenu-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    --ngx-contextmenu-font-size: 14px;
    --ngx-contextmenu-margin: 2px 0 0;
    --ngx-contextmenu-min-width: 160px;
    --ngx-contextmenu-outline: 1px solid #756e87;
    --ngx-contextmenu-padding: 0px 0;
    --ngx-contextmenu-text-color: #333;
    --ngx-contextmenu-max-height: 100vh;

    --ngx-contextmenu-item-background-hover-color: #f8f8f8;
    --ngx-contextmenu-item-separator-color: #333;
    --ngx-contextmenu-item-separator-padding: 10px;
    --ngx-contextmenu-item-separator-width: 96%;
    --ngx-contextmenu-item-padding: 10px 20px;
    --ngx-contextmenu-item-text-hover-color: #333;
    --ngx-contextmenu-item-justify-content: none;
}

[role='button'] {
    cursor: auto;
}

.ngx-contextmenu .ngx-context-menu-item[role='menuitem'] {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: left !important;
    margin: 0;
}