html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
}

:host {
  display: block;
  height: 100%;
}

.row.h-100 {
  height: 100%;
}

.main-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-outlet {
  flex: 1 1 auto;  // занимает всю оставшуюся высоту
  min-height: 0;   // чтобы нормально работал внутренний скролл
}